@import "tailwindcss";

:root {
    --bg-deep: #020617;
    --accent: #3B82F6;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-deep);
    color: #F8FAFC;
    overflow-x: hidden;
}

h1,
h2,
h3,
.font-poppins {
    font-family: 'Poppins', sans-serif;
}

/* Premium Grain Overlay */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://grainy-gradients.vercel.app/noise.svg");
    opacity: 0.03;
    pointer-events: none;
    z-index: 50;
}

/* Smooth scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #020617;
}

::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
}

.glass {
    background: rgba(30, 41, 59, 0.4);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}